*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
.loja{
  background: scroll;
  background-attachment: fixed;
  background-image: url(../assets/background.jpg);
  font-size: 70px;
  color: rgb(182, 221, 9);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  
}

.section-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-section-one{
  background-image: url(../assets/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-section-two{
  background-image: url(../assets/bg2.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.promocoes{
  padding: 55px;
  background-image: url(../assets/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
img{
  margin:55px;
  align-items:flex-end ;
  align-content: center;
  border-radius: 20%;
}
h1{
  text-align: center;
  text-decoration:double;
  font-style: italic;
  font-size: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(0, 0, 0);
}
h3{
  text-align: center;
}


.card-container{
  background: #fff;
  border-radius: 25px;
  padding: 25px;
  max-width: 450px;
}

input{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 12px;
  background: #000;
  color: #fff
}

form{
  display: grid;
}

footer{
  background-image: url(../assets/gama.png);
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  padding: 8px;
  text-align:center;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}


